<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit"><i class="icofont-cart-alt card__text-cart"></i></button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>