@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

@import 'variables';

body {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #212121;
  color: #f6f6f6;
  box-sizing: border-box;
}

main {
  margin: 30px 0px;
}

img {
  width: 100%;
}


.btn {
  background: transparent;
  font-size: 1.05rem;
  color: #f6f6f6;
  padding: 8px 12px;
  border: solid 1px #f6f6f6;
  border-radius: 8px;
  transition: ease 0.2s;

  &:hover {
    cursor: pointer;
    color: darken(#f6f6f6, 20%);
    border: solid 1px darken(#f6f6f6, 20%);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
  color: #f6f6f6;
  background-image: $darkerGradient;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: .9;

  h2 {
    margin: 0;
    padding: 0px 30px;
    margin-top: -15px;

    i{
      font-size: 3rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    li {
      padding: 0px 30px;

      a {
        color: #f6f6f6;
        text-decoration: none;
        transition: ease 0.2s;

        &:active,
        &:visited {
          color: #f6f6f6;
        }
        &:hover {
          color: darken(#f6f6f6, 20%);
        }
      }
    }
  }

  .active{
    position: relative;
    &::after{
      content: "";
      width: 110%;
      height: 2px;
      background: #f6f6f6;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__options {
    flex-grow: 1;
  }
}

.hero-banner {
  width: 90%;
  margin: 0 auto;
  background-image: url("../teal-smoke.jpeg");
  // image from unsplash.com, search nike
  height: 620px;
  background-size: cover;
  background-position: center;

  &__overlay {
    width: 100%;
    height: 100%;
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.15);
    position: relative;

    h1 {
      font-size: 2.5rem;
      text-align: center;
      width: 12ch;
      line-height: 15rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 90%;
  margin: 30px auto;
}

.card-anchor{
  color: #f6f6f6;
  text-decoration: none;

  :visited{
    color: #f6f6f6;
  }
}

.gradient-icon{
  font-size: 1.8rem;
  background-image: white;
  transition: ease 0.2s;
  &:hover {
    cursor: pointer;
    background-image: $brighterGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.card {
  cursor: pointer;
  border-radius: 12px;
  padding-bottom: 30px;
  transition: ease 0.3s;

  &:hover {
    box-shadow: hsl(180deg, 92%, 45%) 0px 5px 15px;
    transform: scale(1.015);
  }

  &__img {
    border-radius: 12px;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    &-title {
      grid-column: 1/-1;
    }

    &-price {
      margin: 0;
      font-size: 1.5rem;
      margin-top: -5px;
      grid-column: 2/3;
    }

    .icon-btn{
      color: #f6f6f6; 
      background: none; 
      border: none;
    }

    &-heart {
      justify-self: right;
    }

    &-cart {
      justify-self: left;
    }
  }
}

// Form styling
@import 'forms';

// Styling for details page
@import 'details';

// Styling for error messages
@import 'error';

// Cart styling
@import 'cart';

